<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.ads.mediation.sample.sdk">

    <application android:hardwareAccelerated="true">
        <activity
            android:name=".activities.SampleSDKAdsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>
